// Import core styles
@import '../../node_modules/@tweakpane/core/lib/sass/plugin';

// Additional style for the plugin
.#{$prefix}-infov {
	// Extend a general input view style
	@extend %input;

	overflow: hidden;
	position: relative;

	height: auto;
	line-height: initial;
	//padding: 2px 4px;

	background-color: transparent;

	&:hover, &:active {
		//background-color: var(--in-bg);
		background-color: transparent;
	}

	&.#{$prefix}-v-disabled {
		opacity: 0.5;
	}

	&_content {
		// You can use CSS variables for styling. See declarations for details:
		// ../../node_modules/@tweakpane/core/lib/sass/common/_defs.scss
		color: var(--in-fg);
	}
}
