// Import core styles
@import '../../node_modules/@tweakpane/core/lib/sass/plugin';

// Additional style for the plugin
// You can use CSS variables for styling. See declarations for details:
// ../../node_modules/@tweakpane/core/lib/sass/common/_defs.scss
.#{$prefix}-induv {
	position: relative; // to make border work

	// same as .tp-lblv (= labels for all tweaks)
	align-items: center;
	display: flex;
	line-height: 1.3;
	padding-left: var(--cnt-h-p);
	padding-right: var(--cnt-h-p);

	&.#{$prefix}-v-disabled {
		opacity: 0.5;
	}

	.#{$prefix}-induv_t {
		color: var(--lbl-fg);
		flex: 1;
		-webkit-hyphens: auto;
		-ms-hyphens: auto;
		hyphens: auto;
		padding: 2px 4px 2px;
		width: 1px;  // hack to make it not expand the pane infinitely

		// markdown styles
		& > *:first-child {
			margin-top: 0;
		}
		& > *:last-child {
			margin-bottom: 0;
		}

		p,
		h1,
		h2,
		h3,
		ol,
		ul,
		blockquote,
		pre {
			margin: 0.5em 0;
		}

		a {
			color: var(--btn-bg);

			&:active {
				color: var(--btn-bg-a);
			}
			&:hover {
				color: var(--btn-bg-h);
			}
		}

		h1 {
			font-size: 1.3em;
			font-weight: bold;
		}
		h2 {
			font-size: 1em;
			font-weight: bold;
		}
		h3 {
			font-size: 1em;
			font-weight: normal;
		}

		ol,
		ul,
		blockquote {
			padding-left: 28px;
		}
	}
}

.#{$prefix}-indubv::before {
	border: var(--mo-fg) dashed 1px;
	border-radius: var(--elm-br);
	bottom: 0;
	content: '';
	left: var(--cnt-v-p);
	opacity: 0.3;
	position: absolute;
	right: var(--cnt-v-p);
	top: 0;
}
